<div style="">
  <div class="footer2">
    <div class="container text-center " style="padding-top: 8px; padding-bottom: 8px;" >
        <h6 style="color: white;">©2021 NullCompany Inc.</h6>
    </div>
  </div>
</div>
