<div class="banner" style="background-color: black;  background-position: center;" >
  <div class="container">
    <div style="">
      <div>
        <img src="https://i.ibb.co/GnVXSWh/ptybro-logo.png" >
      </div>
      <br>
      <br>
      <p>Follow Us:</p>
     <a href="https://www.instagram.com/ptybrothers/" target="_blank"> <h1 class="btn btn-black"> <i class="fab fa-instagram"></i> Instagram</h1> </a>
    </div>
  </div>
</div>
<div style="background-color: #ce3e49; padding-top: 50px; padding-bottom: 50px;">
  <div class="container text-center">
    <br>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/IkBKXoSATCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <br>
  </div>
</div>
